table {
	width: 100%;
	text-align: left;
	border-collapse: separate;
	border-spacing: 0px;
}
thead {
	border-radius: 0.8rem;
	margin-bottom: 20px;
}
thead tr {
	border-radius: 0.8rem;
	align-items: center;
	height: 4.8rem;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: -0.05rem;
	line-height: 1.6rem;
	background: rgb(243, 244,  246);
}
thead th {
	position: relative;
}
.th-parent span {
	position: absolute;
	cursor: pointer;
	padding: 0.2em 0.8rem 0;
}
thead th {
	border-bottom: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
}
thead th:first-of-type {
	border-top-left-radius: 0.8rem;
	border-bottom-left-radius: 0.8rem;
	border-left: 1px solid #f2f2f2;
}
thead th:last-child {
	border-top-right-radius: 0.8rem;
	border-bottom-right-radius: 0.8rem;
	border-right: 1px solid #f2f2f2;
}
tbody th,
tbody td {
	border-bottom: 1px solid #f2f2f2;
	align-items: center;
	height: 6rem;
	background: #fff;
	color: #23273b;
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 1.6rem;
}
thead tr:last-child {
	height: 1.6rem;
	width: 100%;
	background-color: transparent;
}

th,
td {
	max-width: 180px;
	padding-inline: 12px;
	white-space: nowrap;
	padding: 15px;
}
.table-cell {
	position: relative;
}

.menu-wrapper {
	display: flex;
	width: 100%;
	height: 90px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
}

.menu-wrapper img {
	width: 20px;
	height: 20px;;
}

.menu-list {
	position: absolute;
	left: -100px;
	top: 65px;
	padding: 16px;
	/* background: #ffffff; */
	border: 1px solid #e2e8f0;
	border-radius: 4px;
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 10;
}

.menu-list p {
	padding: 5px;
}

.menu-list p:hover {
	/* background-color: #e2e8f0; */
	border-radius: 4px;
	padding: 5px;
}

@media (prefers-color-scheme: dark) {
	.menu-image {
		filter: invert();
	}
}
