table {
  width: 100%;
  text-align: center;
  /* border-collapse: separate; */
  border-spacing: 0px;
}
/* 
td {
  vertical-align: top;
  height: 20px;
} */

tr:nth-child(even) {
  @apply dark:bg-[#232323];
}

.menu-wrapper {
  display: flex;
  width: 100%;
  height: 90px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.menu-wrapper img {
  width: 20px;
  height: 20px;
}

.menu-list {
  position: absolute;
  left: -100px;
  top: 65px;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}

.menu-list p {
  padding: 5px;
}

.menu-list p:hover {
  /* background-color: #e2e8f0; */
  border-radius: 4px;
  padding: 5px;
}

@media (prefers-color-scheme: dark) {
  .menu-image {
    filter: invert();
  }
}
