@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Monolisa;
  src: url('./assets/fonts/Monolisa/woff2/MonoLisa-Regular.woff2');
}

@font-face {
  font-family: 'TT Hoves';
  src: url('./assets/fonts/TTHoves/TTHoves-Regular.eot');
  src: local('TT Hoves Regular'), local('TTHoves-Regular'),
      url('./assets/fonts/TTHoves/TTHoves-Regular.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/TTHoves/TTHoves-Regular.woff2') format('woff2'),
      url('./assets/fonts/TTHoves/TTHoves-Regular.woff') format('woff'),
      url('./assets/fonts/TTHoves/TTHoves-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "TT Hoves";
}

#text-animate{
  white-space:pre;
  }